@media screen and (max-width:1061px) {
    .navbar input {
        width: 259px;
        margin: 0px auto 0px 71px;
    }

    .search {
        padding: 17px 0px;
    }

    .navbar li {
        margin: 6px 6px 10px 0px;
    }
}

@media screen and (max-width:1120px) {
    .navbar input {
        margin: 0px 0px 0px 25px;
        width: 200px;
    }
}

@media screen and (max-width:835px) {
    .navbar input {
        margin: 0px 0px 0px 0px;
        width: 200px;
    }

    .navbar li {
        margin: 6px 0px 10px 0px;
    }
}

@media screen and (max-width:792px) {
    .navbar li {
        padding: 12px 0px 12px 13px;
    }
}

@media screen and (max-width:755px) {
    .li3 {
        position: fixed;
        top: 80px;
        background-color: black;
        margin: 96px 0px 10px 0px;
    }

    .li2 {
        position: fixed;
        top: 80px;
        background-color: black;
        margin: 52px 0px 10px 0px;
    }

    .li1 {
        position: fixed;
        top: 80px;
        background-color: black;
    }
}

@media screen and (max-width:898px) {
    .button {
        visibility: hidden;
    }
}