@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Raleway:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
}

.navbar {
    background-color: red;
    border: 2px solid black;
    height: 80px;
    position: sticky;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 6px 9px 10px 0px;
    padding: 12px 13px;
    font-size: larger;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    margin: 4px;
    font-family: 'Merriweather', serif;
}

.navbar li a:hover {
    color: black;
}

.search {
    padding: 17px 19px;
    float: left;
    margin: 0px;
}

.navbar input {
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px 6px;
    width: 350px;
    margin: 0px 0px 0px 50px;
}

.text {
    text-align: center;
    margin-top: 2px;
    font-size: 1.25rem;
}

.img {
    float: left;
    height: 49px;
    margin-top: 8px;
    width: 91px;
    margin-right: 9px;
}

.contain {
    display: contents;
}


.btn {
    border: 2px solid black;
    color: white;
    padding: 3px 9px 5px 9px;
    border-radius: 6px;
    cursor: pointer;
}


.h2 {
    text-align: center;
}

.btn :hover {
    color: black;
}


.container {
    height:80.8vh;
}

.card-img-top {
    height: 340px;
    width: 292px;
}


.footer {
    background-color: red;
    height: 6.6vh;
    border: 2px solid black;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif;
}

.back{
    display:block ruby;
    overflow: scroll
}